.header{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
h1{
    color: #2563eb;
    font-size: 28px;
}
.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9fafb;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 24px;
    border-radius: 6px;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    margin-top: 20px;
    margin-left: 48%;
    transform: translateX(-50%);
}

.button-primary {
    background-color: #2563eb;
    color: #ffffff;
}

.button-primary:hover {
    background-color: #1e40af;
}

.error-msg {
    color: #e53e3e;
    margin-bottom: 15px;
    font-weight: 600;
}

.success-msg {
    color: #38a169;
    margin-bottom: 15px;
    font-weight: 600;
}

.loginLink{
    margin-top: 12px;
    text-align: center;
}