.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.title {
    margin-bottom: 25px;
    text-align: center;
    color: #1e293b;
}


.inputGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #475569;
}

.inputGroup input {
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    outline-color: #2563eb;
}

.submitBtn {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.submitBtn:hover {
    background: #1d4ed8;
}

.error {
    background-color: #e0f2fe;
    color: #0369a1;
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}