.container {
    display: flex;
    gap: 20px;
}

.sideBar {
    width: 300px;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 30px 20px;
    border-right: 2px solid #e0e6ed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backButton {
    align-self: flex-start;
    background: none;
    border: none;
    color: #64748b;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 40px;
}

.patientInfo {
    margin-bottom: 30px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}

.patientInfo h1 {
    font-size: 28px;
    color: #6c6780;
    margin-bottom: 10px;
}

.patientInfo p {
    font-size: 16px;
    color: #64748b;
    margin-bottom: 3px;
}

.medicalInfo {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.medicalInfo .medicalInfoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 20px;
}

.medicalInfo .medicalInfoGrid .medicalInfoItem {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.medicalInfo .medicalInfoGrid .medicalInfoItem p {
    font-size: 14px;
    color: #6c6780;
    margin-bottom: 10px;
}

.medicalInfo .medicalInfoGrid .medicalInfoItem span {
    font-size: 16px;
    font-weight: 600;
    color: #781cf1;
}

.medicalInfo .medicalInfoDetails {
    margin-top: 15px;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

.tabNav {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e2e8f0;
}

.tabNav button {
    padding: 15px 0;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 600;
    color: #406493;
    position: relative;
}

.tabNav button:hover {
    color: #2563eb;
    border-bottom: 2px solid #2563eb;
}

.contentContainer{
    width:900px;
}

.tableContainer{
    background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
  padding: 20px;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
}

.tableContainer thead {
  background: #2b7cff;
  color: white;
}

.tableContainer th {
  padding: 14px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}

.tableContainer td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #444;
}

.tableContainer .viewReportLink{
    background: #2563eb;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    transition: 0.2s;
}

.tableContainer .viewReportLink:hover {
    background: #1e40af;
}


.prescriptionContainer {
  padding: 20px;
  background: #f9fafb;
  border-radius: 12px;
}

.medicineBlock {
  border: 1px solid #e5e7eb;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #ffffff;
  position: relative;
}

.medicineBlock h3 {
  margin-bottom: 10px;
  color: #48572f;
}