.uploadContainer {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.title {
    color: #1e293b;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 700;
}

.uploadArea{
    border: 2px dashed #cbd5e1;
    border-radius: 12px;
    padding: 40px;
    text-align: center;
    background: #f8fafc;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 25px;
}

.uploadArea:hover {
    border-color: #2563eb;
    background: #eff6ff;
}

.fileInput {
    display: none;
}

.customFileButton {
  display: inline-block;
  padding: 10px 16px;
  background-color: #3b82f6;       
  margin-top: 5px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.customFileButton:hover {
  background-color: #2563eb;      
}

.customFileButton:active {
  background-color: #1e40af;     
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formGroup label {
    font-weight: 600;
    font-size: 14px;
    color: #64748b;
}

.inputField {
    padding: 12px;
    border: 1.5px solid #e2e8f0;
    border-radius: 8px;
    font-size: 14px;
}

.submitBtn {
    width: 100%;
    padding: 15px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.submitBtn:hover {
    background: #1e40af;
}