.uploadContainer {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.title {
    color: #1e293b;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 700;
}

.uploadArea{
    border: 2px dashed #cbd5e1;
    border-radius: 12px;
    padding: 40px;
    text-align: center;
    background: #f8fafc;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 25px;
}

.uploadArea:hover {
    border-color: #2563eb;
    background: #eff6ff;
}

.fileInput {
    display: none;
}

.customFileButton {
  display: inline-block;
  padding: 10px 16px;
  background-color: #3b82f6;       
  margin-top: 5px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.customFileButton:hover {
  background-color: #2563eb;      
}

.customFileButton:active {
  background-color: #1e40af;     
}